body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.toggle-container {
  display: flex;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  width: 50px;
  height: 20px;
  border-radius: 50px;
  background-color: #ddd;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.toggle:checked + .label {
  background-color: rgba(77, 219, 108, 0.7);
}

.ball {
  background-color: #fff;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  animation: activeOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: activeOn 0.3s linear forwards;
}

@keyframes activeOn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes activeOff {
  0% {
    transform: translateX(30px);
  }

  1000% {
    transform: translateX(0px);
  }
}
